.header {
    padding: 12px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 3;
    position: relative;
    border-bottom: 0.5px solid gray;
    background-color: #fff;
}
.user-options {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile-pic {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.logout {
    cursor: pointer;
}

.sign-in-title {
    font-weight: bold;
    font-size: 1.125rem; 
    margin-top: 1.75rem; 
}

.google-signin-btn {
    width: 100%;
    margin-top: 1.25rem; 
    display: flex;
    gap: 1rem; 
    align-items: center;
}

.google-icon {
    height: 1.75rem; 
    width: 1.75rem; 
}

.logo {
    height: 40px;
    width: 150px; 
    transition: width 0.3s ease;
}

.header .flex {
    display: flex;
    align-items: center;
    gap: 15px;
}

@media (max-width: 991px) {
    .header {
        padding: 15px;
        flex-direction: row;
        align-items: flex-start;
    }
    
    .logo {
        width: 150px;
    }
    
    .header .flex {
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 10px;
    }
    
    .logo {
        width: 150px;
    }
    
    .profile-pic {
        height: 30px;
        width: 30px;
    }
}

@media (max-width: 450px) {
    .header {
        padding: 8px;
    }
    
    .logo {
        width: 150px;
    }
    
    .header .flex {
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
    }
    
    .profile-pic {
        height: 25px;
        width: 25px;
    }
    
    .header button {
        width: 100%;
    }
}
